
  <head>
    <title>I WAS THEREE</title>
    <meta charset="UTF-8"/>
  </head>
  
  <body>
    <h1>PARAMORE N1 FAN!!</h1>
    <p>I WAS THERE!!!</p>
    <img src="assets/images/paramore/show.png" alt="EU FUI" style="width: 30%"/>
    <br>
    <img src="assets/images/paramore/lol.png" alt="brega" style="width: 30%"/>
    <br>
    <h2><b>TOP 10 SONGS WOW:</b></h2>
    <ul>
      <li>(One of Those) Crazy Girls - Paramore</li>
      <li>Now - Paramore</li>
      <li>The News - This Is Why</li>
      <li>You First - This Is Why</li>
      <li>Renegade - Singles Club</li>
      <li>Decode - Decode</li>
      <li>In The Mourning - Singles Club</li>
      <li>Ignorance - Brand New Eyes</li>
      <li>Rose-Colored Boy - After Laughter</li>
      <li>Forgiveness - After Laughter</li>
      <li>crushcrushcrush - Riot!</li>
    </ul>
    <a [routerLink]="['']">Back</a>
    <br>
  </body>