<body>
    <h1>
        gabs internal hell
    </h1>


    <p>
        Hello, I'm gabs, a <s>21</s>22yo programmer from Brazil!
    </p>

    <p>
        This website is working through duct tape, being hosted in an RaspberryPi4 with no working fans, 
        I appreciate no DDoS attacks :)
    </p>

    <br>
    <p>take a look at my nendoroids</p>
    <img src="assets/images/mikuteto.jpg" alt="hatsune miku and kasane teto nendoroids!" style="width:50%">
    <br><br>
    <p> ya ya terrible frontend, 
        LET ME HAVE FUN
    </p>

    <app-go-back></app-go-back>
    
</body>