<body>
    <h1>
        gabs internal hell
    </h1>

    <h3>
        Welcome to the chaos!
    </h3>

    <p>
        Hello, I'm gabs, a 21 yo programmer from Brazil.
    </p>

    <p>
        This website is working through duct tape, being hosted in an RaspberryPi4 with no working fans, 
        I appreciate no DDoS attacks :)
    </p>
    <p>
        Here's a picture of boykisser:
    </p>
    <img src="assets/images/boykisser.jpg" alt="boykisser" style="width:50%">
    <br>
    <p>he's cute</p>
    <br><br>
    <p>I had another website, but I let that domain expire. It's still accessible through 
        <a href="https://legacy.marquesgabriel.dev" aria-label="oldwebsite" >here </a>
        if you're still interested. But that's portuguese only!</p>
    <p> ya ya terrible frontend, 
        LET ME HAVE FUN
    </p>

    <app-go-back></app-go-back>
    
</body>